<section id="home-page">
  <div class="feed-wrap row">
    <div class="feed-inner-wrap col-md-9">
      <span class="home_main_feed_head">
        <strong><%= t "search_page.title" %>
          <% if params[:word_search].present? %>
            <%= params[:word_search] %>
          <% end %>
        </strong>
       </span>

      <div class="question-feed">
        <% @questions.each do |question| %>
          <div class="paged-list-item">
            <div class="feed-item-inner">
              <div class="list-topics">
                <% question.topics.each do |topic| %>
                  <span class="item-topic">
                    <%= link_to topic.name, topic_path(topic.slug),
                      alt: topic.name %>
                  </span>
                <% end %>
              </div>
              <div class="time">
                <%= question.updated_at %>
              </div>
              <span class="feed-ques-title">
                <%= link_to question.title, question_path(question.slug),
                  alt: question.title %>
              </span>
              <span class="author">
                <div class="wr-avatar">
                  <%= image_tag question.user.avatar.url,
                    class: "circle img_40" %>
                </div>
                <div class="name">
                  <%= question.user.name %>
                </div>
              </span>
              <div class="ques-content">
                <%= raw question.content %>
              </div>
            </div>
          </div> <!-- .paged-list-item -->
        <% end %>

        <%= will_paginate @questions %>

      </div> <!-- .question-feed -->
    </div>
  </div>
</section>
