<% @questions.each do |question| %>
  <tr>
    <td>
      <a href="<%= question_path(question.slug) %>"> <%= question.title %>
        <a href="<%= admin_question_path(question.id) %>" class="text-right">
          <i class="fa fa-line-chart" aria-hidden="true"></i></a>
        </a>
      </a>
    </td>
    <td>
      <img src="<%= question.user.avatar %>" class="img_25" />
      <span><%= question.user.name %></span>
    </td>
    <td>
      <% question.topics.each do |topic| %>
        <span class="item_topic">
          <a href="<%= topic_path(topic.id) %>"><%= topic.name %></a>
        </span>
      <% end %>
    </td>
    <td>
      <a href="<%= question_path(question.id) %>">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </a>
    </td>
  </tr>
<% end %>
